.speechbubble{
    background: transparent url(../img/speechbubble.png) 0 0 no-repeat;
    width: 298px;
    height: 70px;
}

.nickname {
    color:red;
    margin:auto;
    font-size: 80%;
    position: relative;
    top:-220px;
}

#nickname_local{
    color:green;
}

.player {
    position: absolute;
    text-align: center;
}

.character {
    background: transparent url(../img/davie-boy.png) 0 0 no-repeat;
/*    left: 100;
    top: 100;*/
    width: 150px;
    height: 250px;
}
.mirror{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
