/*
* {
    border-style: dashed;
    border-width: 1px;
}
*/

#nameinputformdiv{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.textmessage{
    color: white;
    background-color: #666666;
    width: 400;
    height: 65;
    position: realtive;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.arraowkeys{
    position: absolute;
    opacity: 0.5;
    margin-left:auto;
    margin-right: auto;
    bottom: 0;
    width: 20%;
    height: 20%;
}

body {
    background-color: #FFFFFF;
}
#stage {
    /*background: transparent url(../img/gras.jpg) 0 0 no-repeat;*/
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    z-index: -10000;
    visibility: hidden;
}

.addclient{
    width: 275px;
    margin-left: 0;
    margin-right: auto;
}

.chatdiv{
    width: 275px;
    margin-left: auto;
    margin-right: 0;
    right: 0;
}

#playeramount{
    font-size: 18px;
}

body, html{
    height: 100%;
}

.container{
    height: 100%;
}

#playersconnected {
    /*visibility: hidden;*/
    position: absolute;
    bottom: 10px;
}

.footer{
    position: absolute;
    bottom: 0px;
}

#loadingmessage{
    visibility: hidden;
    text-align: center;
}

