/*
* {
    border-style: dashed;
    border-width: 1px;
}
*/
#character {
    border-style: none;
}
.arraowkeys{
    position: absolute;
    opacity: 0.5;
    margin-left:auto;
    margin-right: auto;
    bottom: 0;
    width: 20%;
    height: 20%;
}

body {
    background-color: #FFFFFF;
}
#stage {
    position: relative;
    background-color: #FFFFFF;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}